{% extends "layout.html" %}
{% block title %}Create certificate{% endblock %}
{% block content %}
<form method="POST" action="/create-certificate" class="m-3 p-3 border">
    <div class="form-group my-1">
        <label for="certifier-name">Certifier name</label>
        <input class="form-control" id="certifier-name" name="certifier-name" type="text">
    </div>
    <div class="form-group my-1">
        <label for="certifier-password">Certifier password</label>
        <input class="form-control" id="certifier-password" name="certifier-password" type="password">
    </div>
    <div class="form-group my-1">
        <label for="certificate-name">Receiver's name</label>
        <input class="form-control" id="certificate-name" name="certificate-name" type="text">
    </div>
    <div class="form-group my-1">
        <label for="certificate-title">Certificate title</label>
        <input class="form-control" name="certificate-title" type="text">
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary my-3">Create certificate</button>
    </div>
</form>
{% endblock %}