{% extends "layout.html" %}
{% block title %}Settings{% endblock %}
{%block content%}
<div class="table-responsive m-1 m-lg-3">
    <table class="table table-hover table-borderless border border-dark">
        <thead class="table-primary">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Verified</th>
                {% if user.verified %}
                <th>Verified URL</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.id_ }}</td>
                <td>{{ user.name }}</td>
                <td>{{ 'Yes' if user.verified else 'No' }}</td>
                {% if user.verified %}
                <td>{{ user.url }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}